.pdf-viewer {
  /* -------- COLORS -------- */
  /* ---------- VARIABLES ------------ */
  /* -------- MIXINS -------- */
  /* -------- COMPONENT CONTAINER -------- */
  /* ---------- PDFJS DEFAULTS ----------- */
  /* TODO: file FF bug to support ::-moz-selection:window-inactive
	so we can override the opaque grey background when the window is inactive;
	see https://bugzilla.mozilla.org/show_bug.cgi?id=706209 */
  /* ---------- INPUT ----------- */
  /* ---------- SELECT ----------  */
  /* ----------- VIEWER ----------- */
  /* ---------- MAIN ------------ */
  /* ---------- TOOLBAR ----------  */
  /* --------- SIDEBAR ------------ */
  /* --------- SEARCH ----------- */
  /* --------- LOADING ------------ */
  /* ---------- MOBILE ------------ */
}
.pdf-viewer * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: Roboto, sans-serif;
}
.pdf-viewer .fa {
  font-family: FontAwesome;
}
.pdf-viewer button,
.pdf-viewer [type="reset"],
.pdf-viewer [type="submit"],
.pdf-viewer html [type="button"] {
  -webkit-appearance: button;
  border: none;
  outline: none;
  user-select: none;
}
.pdf-viewer label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: 400;
}
.pdf-viewer .pdf-viewer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 14px;
  font-weight: 300;
}
.pdf-viewer .textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1.0;
}
.pdf-viewer .textLayer > div {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.pdf-viewer .textLayer .highlight {
  margin: -1px;
  padding: 1px;
  background-color: #b400aa;
  border-radius: 4px;
}
.pdf-viewer .textLayer .highlight.begin {
  border-radius: 4px 0 0 4px;
}
.pdf-viewer .textLayer .highlight.end {
  border-radius: 0 4px 4px 0;
}
.pdf-viewer .textLayer .highlight.middle {
  border-radius: 0;
}
.pdf-viewer .textLayer .highlight.selected {
  background-color: #ce7805;
}
.pdf-viewer .textLayer::selection {
  background: #0000ff;
}
.pdf-viewer .textLayer::-moz-selection {
  background: #0000ff;
}
.pdf-viewer .textLayer .endOfContent {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.pdf-viewer .textLayer .endOfContent.active {
  top: 0;
}
.pdf-viewer .annotationLayer div {
  position: absolute;
}
.pdf-viewer .annotationLayer .linkAnnotation > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pdf-viewer .annotationLayer .linkAnnotation > a:hover {
  opacity: 0.2;
  background: #ff0;
  box-shadow: 0 2px 10px #ff0;
}
.pdf-viewer .annotationLayer .textAnnotation img {
  position: absolute;
  cursor: pointer;
}
.pdf-viewer .annotationLayer .popupWrapper {
  position: absolute;
  width: 20em;
}
.pdf-viewer .annotationLayer .popup {
  position: absolute;
  z-index: 200;
  max-width: 20em;
  background-color: #FFFF99;
  box-shadow: 0 2px 5px #333;
  border-radius: 2px;
  padding: 0.6em;
  margin-left: 5px;
  cursor: pointer;
  word-wrap: break-word;
}
.pdf-viewer .annotationLayer .popup h1 {
  font-size: 1em;
  border-bottom: 1px solid #000000;
  padding-bottom: 0.2em;
}
.pdf-viewer .annotationLayer .popup p {
  padding-top: 0.2em;
}
.pdf-viewer .annotationLayer .fileAttachmentAnnotation,
.pdf-viewer .annotationLayer .highlightAnnotation,
.pdf-viewer .annotationLayer .squigglyAnnotation,
.pdf-viewer .annotationLayer .strikeoutAnnotation,
.pdf-viewer .annotationLayer .underlineAnnotation {
  cursor: pointer;
}
.pdf-viewer #viewerContainer .canvasWrapper {
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
}
.pdf-viewer #viewerContainer .page {
  direction: ltr;
  width: 816px;
  height: 1056px;
  margin: 1px auto -8px;
  position: relative;
  overflow: visible;
  border: 9px solid transparent;
  background-clip: content-box;
  background-color: white;
  box-sizing: content-box;
}
.pdf-viewer #viewerContainer.removePageBorders .page {
  margin: 0 auto 10px;
  border: none;
}
.pdf-viewer #viewerContainer.singlePageView {
  display: inline-block;
}
.pdf-viewer #viewerContainer.singlePageView .page {
  margin: 0;
  border: none;
}
.pdf-viewer #viewerContainer .page canvas {
  margin: 0;
  display: block;
}
.pdf-viewer #viewerContainer .page .loadingIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.pdf-viewer .pdfPresentationMode:-webkit-full-screen #viewerContainer .page {
  margin-bottom: 100%;
  border: 0;
}
.pdf-viewer .pdfPresentationMode:-moz-full-screen #viewerContainer .page {
  margin-bottom: 100%;
  border: 0;
}
.pdf-viewer .pdfPresentationMode:-ms-fullscreen #viewerContainer .page {
  margin-bottom: 100% !important;
  border: 0;
}
.pdf-viewer .pdfPresentationMode:fullscreen #viewerContainer .page {
  margin-bottom: 100%;
  border: 0;
}
.pdf-viewer .hidden {
  display: none !important;
}
.pdf-viewer [hidden] {
  display: none !important;
}
.pdf-viewer #viewerContainer.pdfPresentationMode:-webkit-full-screen {
  top: 0;
  border-top: 2px solid transparent;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
  -webkit-user-select: none;
}
.pdf-viewer #viewerContainer.pdfPresentationMode:-moz-full-screen {
  top: 0;
  border-top: 2px solid transparent;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
  -moz-user-select: none;
}
.pdf-viewer #viewerContainer.pdfPresentationMode:-ms-fullscreen {
  top: 0 !important;
  border-top: 2px solid transparent;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  cursor: none;
  -ms-user-select: none;
}
.pdf-viewer #viewerContainer.pdfPresentationMode:-ms-fullscreen::-ms-backdrop {
  background-color: #000;
}
.pdf-viewer #viewerContainer.pdfPresentationMode:fullscreen {
  top: 0;
  border-top: 2px solid transparent;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.pdf-viewer .pdfPresentationMode:-webkit-full-screen a:not(.internalLink) {
  display: none;
}
.pdf-viewer .pdfPresentationMode:-moz-full-screen a:not(.internalLink) {
  display: none;
}
.pdf-viewer .pdfPresentationMode:-ms-fullscreen a:not(.internalLink) {
  display: none !important;
}
.pdf-viewer .pdfPresentationMode:fullscreen a:not(.internalLink) {
  display: none;
}
.pdf-viewer .pdfPresentationMode:-webkit-full-screen .textLayer > div {
  cursor: none;
}
.pdf-viewer .pdfPresentationMode:-moz-full-screen .textLayer > div {
  cursor: none;
}
.pdf-viewer .pdfPresentationMode:-ms-fullscreen .textLayer > div {
  cursor: none;
}
.pdf-viewer .pdfPresentationMode:fullscreen .textLayer > div {
  cursor: none;
}
.pdf-viewer .pdfPresentationMode.pdfPresentationModeControls .textLayer > div,
.pdf-viewer .pdfPresentationMode.pdfPresentationModeControls > * {
  cursor: default;
}
.pdf-viewer #outerContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.pdf-viewer #viewerContainer {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
}
.pdf-viewer #toolbarSidebar {
  width: 200px;
  height: 32px;
  background-color: #424242;
}
.pdf-viewer #findMsg {
  font-style: italic;
}
.pdf-viewer #customScaleOption {
  display: none;
}
.pdf-viewer #thumbnailView {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.pdf-viewer #outlineView {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.pdf-viewer .outlineItemToggler {
  position: relative;
  height: 0;
  width: 0;
  color: rgba(255, 255, 255, 0.5);
}
.pdf-viewer .outlineItemToggler::before {
  display: inline-block;
  position: absolute;
}
.pdf-viewer .outlineItemToggler.outlineItemsHidden ~ .outlineItems {
  display: none;
}
.pdf-viewer .noResults {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  cursor: default;
}
.pdf-viewer ::selection {
  background: rgba(206, 120, 5, 0.5);
}
.pdf-viewer ::-moz-selection {
  background: rgba(206, 120, 5, 0.5);
}
.pdf-viewer #overlayContainer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 40000;
}
.pdf-viewer #overlayContainer > * {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.pdf-viewer #overlayContainer > .container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.pdf-viewer .clearBoth {
  clear: both;
}
.pdf-viewer .fileInput {
  background: white;
  color: black;
  margin-top: 5px;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
}
.pdf-viewer #PDFBug {
  background: none repeat scroll 0 0 white;
  border: 1px solid #666666;
  position: fixed;
  top: 32px;
  right: 0;
  bottom: 0;
  font-size: 10px;
  padding: 0;
  width: 300px;
}
.pdf-viewer #PDFBug .controls {
  background: #EEEEEE;
  border-bottom: 1px solid #666666;
  padding: 3px;
}
.pdf-viewer #PDFBug .panels {
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 0;
  top: 27px;
}
.pdf-viewer #PDFBug button.active {
  font-weight: bold;
}
.pdf-viewer .debuggerShowText {
  background: none repeat scroll 0 0 yellow;
  color: blue;
}
.pdf-viewer .debuggerHideText:hover {
  background: none repeat scroll 0 0 yellow;
}
.pdf-viewer #PDFBug .stats {
  font-family: courier;
  font-size: 10px;
  white-space: pre;
}
.pdf-viewer #PDFBug .stats .title {
  font-weight: bold;
}
.pdf-viewer #PDFBug table {
  font-size: 10px;
}
.pdf-viewer #viewer.textLayer-visible .textLayer {
  opacity: 1.0;
}
.pdf-viewer #viewer.textLayer-visible .canvasWrapper {
  background-color: #80ff80;
}
.pdf-viewer #viewer.textLayer-visible .canvasWrapper canvas {
  mix-blend-mode: screen;
}
.pdf-viewer #viewer.textLayer-visible .textLayer > div {
  background-color: rgba(255, 255, 0, 0.1);
  color: black;
  border: solid 1px rgba(255, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pdf-viewer #viewer.textLayer-hover .textLayer > div:hover {
  background-color: white;
  color: black;
}
.pdf-viewer #viewer.textLayer-shadow .textLayer > div {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}
@page {
  margin: 0;
}
.pdf-viewer #printContainer {
  display: none;
}
@media print {
  .pdf-viewer {
    /* General rules for printing. */
    /* Rules for browsers that don't support mozPrintCallback. */
    /* Rules for browsers that support mozPrintCallback */
    /* wrapper around (scaled) print canvas elements */
  }
  .pdf-viewer body {
    background: transparent none;
  }
  .pdf-viewer #errorWrapper,
  .pdf-viewer #loadingBox,
  .pdf-viewer #secondaryToolbar,
  .pdf-viewer #sidebarContainer,
  .pdf-viewer .textLayer,
  .pdf-viewer .pdf-viewer__toolbar {
    display: none;
  }
  .pdf-viewer #viewerContainer {
    overflow: visible;
  }
  .pdf-viewer #mainContainer,
  .pdf-viewer #viewerContainer,
  .pdf-viewer .page,
  .pdf-viewer .page canvas {
    position: static;
    padding: 0;
    margin: 0;
  }
  .pdf-viewer .page {
    float: left;
    display: none;
    border: none;
    box-shadow: none;
    background-clip: content-box;
    background-color: white;
    box-sizing: content-box;
  }
  .pdf-viewer .page[data-loaded] {
    display: block;
  }
  .pdf-viewer .fileInput {
    display: none;
  }
  .pdf-viewer body[data-mozPrintCallback] #outerContainer {
    display: none;
  }
  .pdf-viewer body[data-mozPrintCallback] #printContainer {
    display: block;
  }
  .pdf-viewer #printContainer {
    height: 100%;
  }
  .pdf-viewer #printContainer > div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }
  .pdf-viewer #printContainer canvas {
    display: block;
  }
}
@media all and (max-width: 510px) {
  .pdf-viewer #pageNumberLabel,
  .pdf-viewer #scaleSelectContainer {
    display: none;
  }
}
.pdf-viewer input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #EAE3DF inset;
}
.pdf-viewer__input {
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding: 0;
  position: relative;
  border-radius: 2px;
}
.pdf-viewer input {
  appearance: none;
  position: relative;
  background-color: transparent;
  box-shadow: none;
  color: #40393C;
  border: 0;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  margin: 0;
  padding: 0 5px;
  z-index: 2;
}
.pdf-viewer input:active,
.pdf-viewer input:focus {
  background-color: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
}
.pdf-viewer input[type=number]::-webkit-inner-spin-button,
.pdf-viewer input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pdf-viewer input[data-status="pending"] .search__pending {
  visibility: visible;
}
.pdf-viewer select {
  -moz-appearance: window;
  -webkit-appearance: none;
}
.pdf-viewer__select {
  background-color: #fff;
  display: inline-block;
  margin-right: 0px;
  padding: 0;
  position: relative;
  border-radius: 2px;
}
.pdf-viewer__select .fa-angle-down {
  color: #40393C;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 6px;
  z-index: 1;
}
.pdf-viewer__select select {
  position: relative;
  appearance: none;
  background: none;
  background-color: transparent;
  color: #40393C;
  border: 0;
  height: 24px;
  width: 100%;
  line-height: 24px;
  font-size: 12px;
  padding: 0 0 0 5px;
  margin-right: 20px;
  z-index: 2;
}
.pdf-viewer__select select:active,
.pdf-viewer__select select:focus {
  border: 0;
  outline: none;
}
.pdf-viewer__select select:active + i,
.pdf-viewer__select select:focus + i {
  z-index: 2;
}
.pdf-viewer__select select option {
  background-color: #fff;
  color: #40393C;
  height: 30px;
}
.pdf-viewer__viewer {
  background-color: #DADADA;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.pdf-viewer__outer.subToolbarOpen .pdf-viewer__sidebar {
  top: 72px;
  transition: top 0.15s ease-in;
}
.pdf-viewer__outer.subToolbarOpen .pdf-viewer__main {
  top: 36px;
  transition: top 0.15s ease-in;
}
.pdf-viewer__outer.sidebarOpen .pdf-viewer__sidebar {
  left: 0;
}
.pdf-viewer__outer.sidebarOpen .pdf-viewer__main {
  left: 180px;
}
.pdf-viewer__main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: left 0.25s ease-in, top 0.15s ease-in 0.25s;
}
.pdf-viewer__toolbar {
  display: flex;
  position: relative;
  background: #EAE3DF;
  border-bottom: 1.5px solid #CACACA;
  color: #40393C;
  height: 36px;
  z-index: 3;
}
.pdf-viewer__toolbar--sub {
  position: absolute;
  background-color: #E3DCD5;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  transition: top 0.15s ease-in 0.25s;
  z-index: 2;
}
.pdf-viewer__toolbar--sub.show {
  top: 36px;
  transition: top 0.15s ease-in;
}
.pdf-viewer__toolbar-left,
.pdf-viewer__toolbar-center,
.pdf-viewer__toolbar-right {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  text-align: center;
  height: 36px;
}
.pdf-viewer__toolbar-left {
  justify-content: flex-start;
}
.pdf-viewer__toolbar-center {
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
}
.pdf-viewer__toolbar-right {
  justify-content: flex-end;
}
.pdf-viewer__toolbar-item {
  margin: 0 2px;
}
.pdf-viewer__toolbar-item--no-space {
  margin: 0;
}
.pdf-viewer__toolbar-item--title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pdf-viewer__toolbar-item--section {
  border-right: 1px solid lightgray;
  padding: 0 8px;
}
.pdf-viewer__toolbar-item--section .toolbar__button {
  display: inline-block;
}
.pdf-viewer__toolbar-separator {
  padding: 0 5px;
}
.pdf-viewer__toolbar-button {
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  padding: 0;
  height: 28px;
  width: 28px;
  line-height: 28px;
  cursor: pointer;
  transition: all 0.10s linear;
}
.pdf-viewer__toolbar-button:hover:enabled {
  background-color: #c0bdb8;
}
.pdf-viewer__toolbar-button:active:enabled {
  background-color: #868686;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.pdf-viewer__toolbar-button[disabled] {
  color: graytext;
}
.pdf-viewer__toolbar-button--bg {
  background-color: #D8D6D3;
  font-size: 10px;
  margin: 0;
  height: 23px;
  width: 23px;
  line-height: 23px;
}
.pdf-viewer__toolbar-button--text {
  width: auto;
  padding: 0 8px;
  font-size: 12px;
}
.pdf-viewer__toolbar-button--text i {
  padding-right: 5px;
}
.pdf-viewer__toolbar-button--full {
  height: 36px;
  line-height: 34px;
  border-radius: 0;
  border-right: 1px solid lightgray;
}
.pdf-viewer__toolbar-button--dropdown:before {
  content: "";
  position: absolute;
  background-color: #E3DCD5;
  width: 10px;
  height: 10px;
  bottom: -6px;
  left: 80px;
  right: -25vw;
  transform: rotate(45deg) translateX(50%);
  transition: all 0.15s ease-in;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
}
.pdf-viewer__toolbar-button--dropdown:after {
  content: "";
  position: absolute;
  background-color: #E3DCD5;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  bottom: -8px;
  left: 80px;
  right: -25vw;
  transition: all 0.15s ease-in;
  transform: rotate(45deg) translateX(50%);
  z-index: 2;
}
.pdf-viewer__toolbar-button--dropdown.toggled:before {
  left: calc(50% - 8px);
  transition: all 0.25s ease-in 0.15s;
}
.pdf-viewer__toolbar-button--dropdown.toggled:after {
  left: calc(50% - 8px);
  transition: all 0.25s ease-in 0.15s;
}
.pdf-viewer__toolbar-page {
  display: inline-block;
  margin: 0 5px;
}
.pdf-viewer__toolbar-page label {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
}
.pdf-viewer__toolbar-page input {
  max-width: 20px;
  font-size: 14px;
}
.pdf-viewer__toolbar-total-pages {
  padding: 0 5px;
}
.pdf-viewer__sidebar {
  position: absolute;
  top: 36px;
  bottom: 0;
  left: -180px;
  width: 180px;
  background-color: #F8F6F4;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.36);
  transition: left 0.25s ease-in, top 0.15s ease-in 0.25s;
  z-index: 1;
}
.pdf-viewer__thumbnail-view {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
}
.pdf-viewer__thumbnail-view a {
  flex: 0 0 auto;
  transition: background-color 0.15s linear;
}
.pdf-viewer__thumbnail-view a:hover {
  background-color: #f3ede8;
}
.pdf-viewer__thumbnail-view a:active,
.pdf-viewer__thumbnail-view a.selected {
  background-color: #E4DED9;
}
.pdf-viewer__thumbnail:not[data-loaded] {
  border: 1px dashed rgba(255, 255, 255, 0.5);
  margin: -1px -1px 4px;
}
.pdf-viewer__thumbnail:hover .pdf-viewer__thumbnail-image {
  opacity: 0.9;
}
.pdf-viewer__thumbnail.selected .pdf-viewer__thumbnail-image {
  opacity: 1;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}
.pdf-viewer__thumbnail-image {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  z-index: 99;
}
.pdf-viewer__thumbnail-ring {
  position: relative;
  margin: 20px auto;
}
.pdf-viewer__thumbnail-number {
  position: absolute;
  background: #E4DCD5;
  border-radius: 50%;
  color: #3F393C;
  font-size: 10px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  bottom: 4px;
  left: calc(50% - 20px / 2);
  text-align: center;
}
.pdf-viewer__outline {
  display: flex;
  flex-flow: column nowrap;
}
.pdf-viewer__outline-item {
  transition: background-color 0.15s linear;
}
.pdf-viewer__outline-item a {
  display: block;
  flex: 0 0 auto;
  padding: 10px 5px;
  padding: 12px 10px;
  font-size: 11px;
  margin-right: 15px;
  color: #40393C;
  white-space: normal;
  text-decoration: none;
}
.pdf-viewer__outline-item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.pdf-viewer__outline-item:active {
  background-color: rgba(0, 0, 0, 0.35);
}
.pdf-viewer__search {
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  border-radius: 2px;
}
.pdf-viewer__search input {
  max-width: 90px;
}
.pdf-viewer__loading {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: transparent;
}
.pdf-viewer__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #8ACD70;
  overflow: hidden;
  transition: width 200ms;
  z-index: 4;
}
.pdf-viewer__error-box {
  position: absolute;
  background-color: #f44336;
  color: #fff;
  font-size: 12px;
  padding: 3px;
  top: 36px;
  right: 0;
  left: 0;
  z-index: 1000;
}
.pdf-viewer__error-left {
  float: left;
  max-width: 90%;
}
.pdf-viewer__error-right {
  float: right;
}
.pdf-viewer__error-btn {
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  transition: background-color 0.15s linear;
}
.pdf-viewer__error-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.pdf-viewer__error-btn:active {
  background-color: rgba(255, 255, 255, 0.75);
}
.pdf-viewer__mobile .pdf-viewer__toolbar-item--title {
  display: none;
}
.pdf-viewer__mobile .pdf-viewer__sidebar {
  background: rgba(255, 255, 255, 0.5);
}
.pdf-viewer__mobile .pdf-viewer__thumbnail-view a:hover {
  background-color: rgba(228, 222, 217, 0.25);
}
.pdf-viewer__mobile .pdf-viewer__thumbnail-view a.selected {
  background-color: rgba(228, 222, 217, 0.5);
}
.pdf-viewer__mobile .pdf-viewer__outer.sidebarOpen .pdf-viewer__main {
  left: 0;
}
