
paper/paper.md.bak
Develpoment_Notes
Presentations
SPICY_Pietro
*.bak
spicy_vki/spicy_vki.egg-info
spicy_vki/spicy/__pycache__
spicy_vki/spicy/spicy_class.py.bak
paper/paper.bib.sav.tmp
Tutorials/.ipynb_checkpoints
Tutorials/__pycache__
./SPICY_Sphinx
NOTES